<h1>Edit Tag</h1>

<%= form_with model: @tag, url: admin_tag_path(@tag), method: :patch, local: true do |form| %>
  <div class="field">
    <%= form.label :tag_title %>
    <%= form.text_field :tag_title %>
  </div>

  <div class="actions">
    <%= form.submit "Update Tag", class: "btn btn-primary" %>

    <%= link_to "削除", admin_tag_path(@tag), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
  </div>
<% end %>