<h1>Create a New Tag</h1>

<%= form_with model: @tag, url: admin_tags_path, local: true do |form| %>
  <div class="field">
    <%= form.label :tag_title %>
    <%= form.text_field :tag_title %>
  </div>

  <div class="actions">
    <%= form.submit "Create Tag", class: "btn btn-primary" %>
  </div>
<% end %>

<h1>Tag List</h1>

<ul>
  <% @admin_tags.each do |tag| %>
    <li><%= tag.tag_title %></li>
  <% end %>
</ul>