<% if enduser_signed_in? || admin_signed_in? %>
  <div style="padding: 5px; display: flex; justify-content: flex-end;">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content, placeholder: "#ハッシュタグで検索", style: "padding: 5px; border: none; width: 200px; border-radius: 3px;" %>
      <%= f.radio_button :model, "user", checked: true, class: "custom-radio" %>
      <%= f.label :model_user, "ユーザー名", class: "white-text" %>
      <%= f.radio_button :model, "post", class: "custom-radio" %>
      <%= f.label :model_post, "投稿検索", class: "white-text" %>
      <%= f.submit "検索", style: "padding: 5px 10px; border: none; background-color: #7b7d8a; color: #fff; border-radius: 3px; cursor: pointer;" %>
    <% end %>
  </div>
<% end %>