
<% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render partial: "/enduser/users/user_index", locals: { users: @records } %>
  
<% elsif @model == 'post' %>
    <ul class="tab" id="tagTabs">
      <% @tags.each do |tag| %>
        <li><a href="#<%= tag.tag_title %>"><%= tag.tag_title %></a></li>
      <% end %>
    </ul>
      <h3>Posts search for "<%= @content %>"</h3>
    <%= render partial: "/enduser/posts/post_card", locals: { tags: @tags, user_posts: @records } %>
      
<% elsif @model == 'hashtag' %>
    <ul class="tab" id="tagTabs">
      <% @tags.each do |tag| %>
        <li><a href="#<%= tag.tag_title %>"><%= tag.tag_title %></a></li>
      <% end %>
    </ul>
    <h3>ハッシュタグ with hashtag #"<%= @content %>"</h3>
      <%= render partial: "/enduser/posts/post_card", locals: { tags: @tags, user_posts: @records } %>
<% end %>
