<div class="card">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="card-item">
      <%= f.label :メールアドレス, class: "card-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "card-input" %>
    </div>

    <div class="card-item">
      <%= f.label :パスワード, class: "card-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "card-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="card-item">
        <%= f.check_box :remember_me, class: "card-checkbox" %>
        <%= f.label :記憶する, class: "card-label" %>
      </div>
    <% end %>

    <div class="card-item">
      <%= f.submit "ログイン", class: "card-button" %>
    </div>
  <% end %>

  <%= render "enduser/shared/links" %>
</div>
<style>
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* 上下左右に20pxの余白を追加 */
    border: 1px solid #ccc; /* カードにボーダーを追加 */
    background-color: #fff; /* カードの背景色を白に設定 */
  }
</style>