<div class="wrapper">
  <ul class="article-list">
    <li>
      <%= link_to post.title, post %><br>
      <p>投稿者名: <%= link_to post.enduser.name, user_path(post.enduser) %></p>
      <%= post.body %>
      <% post.hashtags.each do |hashtag| %>
        <%= link_to "##{hashtag.hashname}", search_path(content: "##{hashtag.hashname}", model: "post", method: "perfect") %>
      <% end %>
      タグ: <%= post.tag.tag_title %>
    </li>
  </ul>
</div>
